<nav class="navbar navbar-expand-lg flex" id="flexNav">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span><img src="/assets/icons/logo.svg" class="img-fluid" /></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto flex-column middleFlex">
      <li class="nav-item">
        <a href="#" id="mainLogoId">LOGO</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <span><img src="/assets/icons/home.svg" /></span>მთავარი გვერდი</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span><img src="/assets/icons/limits.svg" /></span>ჩემი ლიმიტები</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span><img src="/assets/icons/invoice.svg" /></span>ჩემი ინვოისები</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span><img src="/assets/icons/people.svg" /></span>წარმომადგენლები</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">გასვლა</a>
      </li>
    </ul>
  </div>
</nav>
