<div class="tableWrapper table-responsive">
  <h5 class="tableHeader">აქტიური ლიმიტები</h5>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>ნომერი</th>
        <th>თარიღი</th>
        <th>მყიდველი</th>
        <th>ს/კ</th>
        <th>ლიმიტის თანხა</th>
        <th>ფაქტორინგის ტიპი</th>
        <th>სტატუსი</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>N 1135</td>
        <td>25 აპრ 2019</td>
        <td>ელექტრონულ ფაქტორინგ..</td>
        <td>40334023402</td>
        <td class="redText">10 000 GEL</td>
        <td>მოთხოვნის უფლების გარეშე</td>
        <td>აქტიური</td>
      </tr>
      <tr>
        <td>N 1135</td>
        <td>25 აპრ 2019</td>
        <td>ელექტრონულ ფაქტორინგ..</td>
        <td>40334023402</td>
        <td class="redText">10 000 GEL</td>
        <td>მოთხოვნის უფლების გარეშე</td>
        <td>აქტიური</td>
      </tr>
      <tr>
        <td>N 1135</td>
        <td>25 აპრ 2019</td>
        <td>ელექტრონულ ფაქტორინგ..</td>
        <td>40334023402</td>
        <td class="redText">10 000 GEL</td>
        <td>მოთხოვნის უფლების გარეშე</td>
        <td>აქტიური</td>
      </tr>
      <tr>
        <td>N 1135</td>
        <td>25 აპრ 2019</td>
        <td>ელექტრონულ ფაქტორინგ..</td>
        <td>40334023402</td>
        <td class="redText">10 000 GEL</td>
        <td>მოთხოვნის უფლების გარეშე</td>
        <td>აქტიური</td>
      </tr>
      <tr>
        <td>N 1135</td>
        <td>25 აპრ 2019</td>
        <td>ელექტრონულ ფაქტორინგ..</td>
        <td>40334023402</td>
        <td class="redText">10 000 GEL</td>
        <td>მოთხოვნის უფლების გარეშე</td>
        <td>აქტიური</td>
      </tr>
      <tr>
        <td>N 1135</td>
        <td>25 აპრ 2019</td>
        <td>ელექტრონულ ფაქტორინგ..</td>
        <td>40334023402</td>
        <td class="redText">10 000 GEL</td>
        <td>მოთხოვნის უფლების გარეშე</td>
        <td>აქტიური</td>
      </tr>
      <tr>
        <td>N 1135</td>
        <td>25 აპრ 2019</td>
        <td>ელექტრონულ ფაქტორინგ..</td>
        <td>40334023402</td>
        <td class="redText">10 000 GEL</td>
        <td>მოთხოვნის უფლების გარეშე</td>
        <td>აქტიური</td>
      </tr>
      <tr>
        <td>N 1135</td>
        <td>25 აპრ 2019</td>
        <td>ელექტრონულ ფაქტორინგ..</td>
        <td>40334023402</td>
        <td class="redText">10 000 GEL</td>
        <td>მოთხოვნის უფლების გარეშე</td>
        <td>აქტიური</td>
      </tr>
    </tbody>
  </table>
</div>
