.redColor {
  color: red;
}

@media (max-width: 500px) {
  .redColor {
    color: green;
  }
}

#flexNav {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  height: 100vh;
}

nav ul {
  display: flex;
  flex-direction: column;
}

@media (max-width: 576px) {
  #flexNav {
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100px;
  }
}

@media (max-width: 768px) {
  #flexNav {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100px;
  }
}

@media (max-width: 992px) {
}

@media (min-width: 1200px) {
}
